* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    min-height: 81.6vh;
}

.page {
    display: flex;
    height: 100%;
}

table {
    margin-bottom: 0 !important;
}

.aviso_nenhum_dado {
    text-align: center;
}

.coluna {
    padding-left: 5px;
}

.flex {
    display: flex;
}

select {
    -webkit-appearance: listbox !important;
    height: 38px;
}

@media (min-width: 1200px){
h1, .h1 {
    font-size: 2.0rem;
}
}