.page{
    display: flex;
}

.container_pendencias{
    border: 3px solid black;
    border-radius: 5px;
    height: 50vh;
    width: 100%;
    top:0;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
}

.container_title{
    display: flex;
    justify-content: space-between;
    color: black;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 40px;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    height: auto;
}

.container_lista_pendencias{
    display: flex;
    margin-top:20px;
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
}