.content_page {
    width: 100%;
    top: 0;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.content_table {
    color: white;
    border-radius: 10px !important;
}

.footer_content{
    display: flex;
    position: absolute;
    justify-content: flex-end;
    margin: inherit;
    width: auto;
    top: auto;
    right: 40px;
    bottom: 80px;
}

.footer_content button{
    margin-left: 10px;
}